.rotates {
    display: inline-block;
    line-height: 0;
    -webkit-animation: spin 1.3s infinite linear;
    animation: spin 1.3s infinite linear;
  }
  
  @-webkit-keyframes spin {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(359deg);
      transform: rotate(359deg);
    }
  }
  
  @keyframes spin {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(359deg);
      transform: rotate(359deg);
    }
  }


toolbar-background {
  background-color:black!important;
  color: white;
}



.inner-scroll .scroll-y{
  background-color: #f0f0f0!important;
}