<ion-header>
  <ion-toolbar>
    <ion-title>Dispositivi</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding style="background-color:#f2f2f2!important;">
  <ion-searchbar></ion-searchbar>

  <ion-card>
    <ion-item>
      <!-- <ion-icon name="square" color="danger" slot="start"></ion-icon> -->
      <ion-label>Giardino</ion-label>
      <ion-button slot="end" size="small">Edit</ion-button>
    </ion-item>
    
    <ion-item *ngFor="let sector of obj?.pinStatus" >
      <ion-icon
        name="logo-ionic"
        [color]="sector.state.value === 1 ? 'danger' : 'success'"
        [ngClass]="sector.state.value === 1 ? '' : 'rotates'"
        padding
      ></ion-icon>
      <ion-label>
        Settore {{ sector.id }}
      </ion-label>
      <ion-toggle [ngModel]="sector.state.value === 0 ? true : false | async" slot="end" padding (ionChange)="toggle(sector.id)"></ion-toggle>
    </ion-item>
    
    <ion-card-content>
      Questo controlla tutta l'irrigazione del giardino, per accendere o
      spengnere un singolo settore entra in edit
    </ion-card-content>

  </ion-card>

  <ion-card>
    <ion-item>
      <ion-label>Stufa</ion-label>
    </ion-item>
    <ion-item>
      <ion-label padding>Off</ion-label>
      <ion-toggle slot="end" padding></ion-toggle>
    </ion-item>
    <ion-card-content>
      Questo controlla la stufa
    </ion-card-content>
  </ion-card>
</ion-content>
